@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

/** {*/
/*    outline: 1px solid pink;*/
/*}*/

/*-----общие-----*/
.body {
    max-width: 1440px;
    margin: auto;
    font-family: Inter, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.activate-button {
    border-radius: 94px;
    background-color: #6A247D;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 48px;
    border: none;
    transition: background .3s ease;
}

.activate-button:disabled {
    border-color: #d8d8d8;
    background: #ededed;
    color: #999;
}

.activate-button:not([disabled]):focus, .activate-button:not([disabled]):hover {
    background: #a500bf;
    cursor: pointer;
}

.common-paddings {
    padding: 0 16px;
}

@media (min-width: 768px) {
    .common-paddings {
        padding: 0 40px;
    }
}

@media (min-width: 1280px) {
    .common-paddings {
        padding: 0 80px;
    }
}

/*-----header-----*/
.header {
    margin: 14px auto 9px 10px;
    flex: 0 0 auto;
}

@media (min-width: 768px) {
    .header {
        margin: 24px auto 26px 68px;
    }
}

/*-----content-----*/
.content {
    flex: 1 0 auto;
}

/*-----блок lead-stripe-----*/
.lead-stripe {
    background-color: #53B561;
    color: white;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    position: relative;
}

.lead-stripe__logo {
    position: relative;
    max-width: 440px;
    top: -44px;
    right: 0;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}

.lead-stripe__logo-label {
    margin-top: 10px;
}

.lead-stripe__description {
    margin: -14px auto 43px auto;
    max-width: 340px;
    text-align: center;
}

.lead-stripe__text-container {
    display: flex;
    align-items: center;
}

.lead-stripe__title {
    font-size: 28px;
    line-height: 36px;
    max-width: 500px;
    margin: 0;
}

.lead-stripe__title-highlight {
    color: #6A247D;
}

.lead-stripe__text {
    font-size: 16px;
    line-height: 26px;
    margin: 12px 0 36px;
    font-weight: 400;
}

.lead-stripe__border {
    background-image: url(./images/lead-stripe-border.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: -21px;
    left: 0;
    width: 100%;
    height: 24px;
    z-index: 1;
}

.lead-stripe__actions {
    position: relative;
    margin: 20px auto 0;
}

.lead-stripe__badge {
    display: inline-flex;
    flex-shrink: 0;
    flex-direction: column;
    transform: rotate(-6deg);
    padding: 4px 6px;
    background: #ffa717;
    pointer-events: none;
}

.lead-stripe__badge_type_tablet {
    display: none;
}

.lead-stripe__badge_type_mobile {
    position: absolute;
    bottom: -16px;
    left: 0;
    transform: translateY(100%) rotate(-6deg);
    z-index: 5;
}

.lead-stripe__badge-text-row {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
}

.lead-stripe__badge-text-row_highlighted {
    margin-bottom: 2px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
}

@media (min-width: 768px) {
    .lead-stripe {
        flex-direction: row-reverse;
    }

    .lead-stripe__logo-label {
        margin-top: 20px;
    }

    .lead-stripe__description {
        margin: 58px 15px 52px 0;
        max-width: 630px;
        flex-basis: 60%;
        text-align: left;
    }

    .lead-stripe__logo {
        top: -90px;
        margin: 0 0 0 auto;
        font-size: 24px;
    }

    .lead-stripe__title {
        font-size: 44px;
        line-height: 50px;
    }

    .lead-stripe__text {
        margin-top: 16px;
        font-size: 18px;
    }

    .lead-stripe__img {
        width: 85%;
    }

    .lead-stripe__badge_type_tablet {
        display: block;
    }

    .lead-stripe__badge {
        display: block;
        margin-left: 20px;
        padding: 8px 10px;
    }

    .lead-stripe__badge_type_mobile {
        display: none;
    }

    .lead-stripe__text-container {
        min-width: 550px;
    }
}

@media (min-width: 930px) {
    .lead-stripe__text-container {
        min-width: auto;
    }
}


@media (min-width: 1024px) {
    .lead-stripe__logo {
        font-size: 30px;
        right: 0;
    }

    .lead-stripe__img {
        width: auto;
    }

    .lead-stripe__badge-text-row_highlighted {
        font-size: 24px;
        line-height: 1;
    }
}

@media (min-width: 1280px) {
    .lead-stripe__logo {
        font-size: 36px;
        right: 34px;
    }
}

/*-----блок с subscription-options-----*/
.subscription-options {
}

.subscription-options__title {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #333333;
    font-weight: 400;
    margin-top: 60px;
}

.subscription-options__list {
    list-style: none;
    max-width: 722px;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin: 60px auto auto auto;
}

.subscription-options__item {
    display: flex;
    border-top: 1px solid #333333;
    position: relative;
    margin: 0 -18px;
    align-items: center;
    min-height: 90px;
}

.subscription-options__item:last-child {
    border-bottom: 1px solid #333333;
}

.subscription-options__item-text {
    margin: 16px 100px 16px 18px;
}

.subscription-options__item-img {
    position: absolute;
}

.subscription-options__item-img.show {
    top: calc(50% - 30px);
    right: 14px;
}

.subscription-options__item-img.book {
    top: calc(50% - 26px);
    right: 27px;
}

.subscription-options__item-img.safety {
    top: calc(50% - 26px);
    right: 30px;
}

.subscription-options__item-img.promo {
    top: calc(50% - 24px);
    right: 24px;
}

.subscription-options__button {
    margin: 26px auto 50px;
    align-items: center;
    display: flex;
}

@media (min-width: 768px) {
    .subscription-options__title {
        margin-top: 80px;
        font-size: 34px;
    }

    .subscription-options__list {
        margin-top: 64px;
        font-size: 22px;
    }

    .subscription-options__item {
        min-height: auto;
    }

    .subscription-options__item-text {
        margin: 30px 130px 32px 40px;
    }

    .subscription-options__item-img.show {
        right: 54px;
    }

    .subscription-options__item-img.book {
        right: 67px;
    }

    .subscription-options__item-img.safety {
        right: 70px;
    }

    .subscription-options__item-img.promo {
        right: 64px;
    }

    .subscription-options__button {
        margin-top: 50px;
    }
}

/*-----footer-----*/
.footer {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-bottom: 16px;
    flex: 0 0 auto;
    flex-direction: column;
    margin: 20px auto;
}

.navigation-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-menu__link {
    text-decoration: none;
    color: #6A247D;
}

.navigation-menu__link:focus, .navigation-menu__link:hover {
    color: #a500bf;
    cursor: pointer;
}

.navigation__title {
    display: none;
}

.footer__copyright {
    color: #333333;
}

.footer__navigation {
    display: flex;
    align-items: center;
    margin: auto;
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row-reverse;
        margin: 100px 0 20px;
    }

    .footer__navigation {
        margin: 0;
    }
}

/*-----попап-----*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.23);
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.popup__container {
    position: relative;
    color: #333333;
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 0 16px 30px;
}

.popup__close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.popup__closed {
    visibility: hidden;
    opacity: 0;
}

.popup__title {
    margin: 74px auto 0;
    font-weight: 700;
    font-size: 28px;
}

.popup__desc, .popup__subtitle {
    font-size: 16px;
    line-height: 24px;
    min-height: 100px;
    display: none;
    margin: 10px auto auto auto;
}

.popup__desc {
    min-height: 100px;
}

.popup__subtitle {
    max-width: 280px;
}


.popup__image {
    max-width: 75vw;
    max-height: 75vh;
}

.activate-button__popup {
    min-width: 264px;
    margin-top: 10px;
}

.activate-button__popup_hide {
    visibility: hidden;
}

.popup_opened {
    display: flex;
    align-items: flex-start;
    opacity: 1;
    visibility: visible;
}

.popup__input-container {
    display: none;
    position: relative;
    width: 264px;
    margin: auto;
}

.popup__input {
    padding: 11px 20px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    margin: 32px auto 24px;
}

.popup__subtitle_number_container {
    display: none;
}

.popup__subtitle-other-number {
    color: cornflowerblue;
    border: none;
    background: none;
    transition: background .3s ease;
    cursor: pointer;
}

.popup__subtitle-other-number:hover, .popup__subtitle-other-number:focus {
    color: #3679f1;
}

.popup__text_vis {
    display: block;
}

.popup__text_vis_inl {
    display: inline;
}

.popup__input-desc {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    font-size: 12px;
    line-height: 1;
}

@media (min-width: 768px) {
    .popup__container {
        width: calc(375px - 32px);
    }

    .popup_opened {
        align-items: center;
    }
}



